<!-- This is the dashboard page -->
<!-- The base.html is extended from the folder templates(outside the base folder) -->
{% extends 'base.html' %} 

{% block content %}




<div class="container">
  <div class="container fluid">
    <div class="col-md-4 m-5" style="margin-right: 25%">
      <p>List</p>
      <p>List</p>
      <p>List</p>
    </div>
  </div>
</div>

<br>

<div class="container">

  <h5>Bar Chart</h5>  
  <!-- <canvas id="myChart"></canvas> -->
  <div id="myBarChart"></div>
  <br>

  <h5>Pie Chart</h5>
  <!-- <canvas id="myPieChart"></canvas> -->
  <div id="myPieChart"></div>
  <br>

  <h5>Line Chart</h5>
  <!-- <canvas id="myLineChart"></canvas> -->
  <div id="myLineChart"></div>
  <br>

  <h5>Area Chart</h5>
  <!-- <canvas id="myAreaChart"></canvas> -->
  <div id="myAreaChart"></div>
    <br>
  <h5>Combo Chart</h5>
  <div id="myComboChart"></div>

<br>

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <div class="d-md-flex mb-3">
                <h3 class="box-title mb-0">Recent sales</h3>
                <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                    <select class="form-select shadow-none row border-top">
                        <option>Spring 2021</option>
                        <option>Summer 2021</option>
                        <option>Autumn 2021</option>
                    </select>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">Product</th>
                            <th class="border-top-0">Quantity</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                      {% for example in examples %}
                      <tr>
                        <td>{{ example.id }}</td>
                        <td class="txt-oflo">{{ example.product }}</td>
                        <td>{{ example.quantity }}</td>
                     </tr>
                      {% endfor %}
                          
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
//   const ctx = document.getElementById('myChart');
//             const myChart = new Chart(ctx, {
//                 type: 'bar',
//                 data: {
//                     labels: [{% for example in examples %} '{{ example.product }}', {% endfor %}],
//                     datasets: [{
//                         label: '# of Products',
//                         data: [{% for example in examples %} {{ example.quantity }}, {% endfor %}],
//                         backgroundColor: [
//                             'rgba(255, 99, 132, 0.8)',
//                             'rgba(54, 162, 235, 0.8)',
//                             'rgba(255, 206, 86, 0.8)',
//                             'rgba(75, 192, 192, 0.8)',
//                             'rgba(153, 102, 255, 0.8)',
//                             'rgba(255, 159, 64, 0.8)',
//                             'rgba(124, 54, 46, 1)'
//                         ],
//                         borderColor: [
//                             'rgba(255, 99, 132, 1)',
//                             'rgba(54, 162, 235, 1)',
//                             'rgba(255, 206, 86, 1)',
//                             'rgba(75, 192, 192, 1)',
//                             'rgba(153, 102, 255, 1)',
//                             'rgba(255, 159, 64, 1)',
//                             'rgba(124, 54, 46, 1)'
//                         ],
//                         borderWidth: 1
//                     }]
//                 },
//                 options: {
//                     scales: {
//                         y: {
//                             beginAtZero: true
//                         }
//                     }
//                 }
//             });

            // const ctx2 = document.getElementById('myPieChart');
            // const myPieChart = new Chart(ctx2, {
            //     type: 'pie',
            //     data: {
            //         labels: [{% for example in examples %} '{{ example.product }}', {% endfor %}],
            //         datasets: [{
            //             label: '# of Products',
            //             data: [{% for example in examples %} {{ example.quantity }}, {% endfor %}],
            //             backgroundColor: [
            //                 'rgb(255, 99, 132)',
            //                 'rgb(54, 162, 235)',
            //                 'rgb(255, 206, 86)',
            //                 'rgb(75, 192, 192)',
            //                 'rgb(153, 102, 255)',
            //                 'rgb(255, 159, 64)',
            //                 'rgb(124, 54, 46)'
            //             ],
            //             // borderColor: [
            //             //     'rgba(255, 99, 132, 1)',
            //             //     'rgba(54, 162, 235, 1)',
            //             //     'rgba(255, 206, 86, 1)',
            //             //     'rgba(75, 192, 192, 1)',
            //             //     'rgba(153, 102, 255, 1)',
            //             //     'rgba(255, 159, 64, 1)',
            //             //     'rgba(124, 54, 46, 1)'
            //             // ],
            //             hoverOffset: 4
            //         }]
            //     },
            //     options: {
            //         scales: {
            //             y: {
            //                 beginAtZero: true
            //             }
            //         }
            //     }
            // });

            // const ctx3 = document.getElementById('myLineChart');
            // const myLineChart = new Chart(ctx3, {
            //     type: 'line',
            //     data: {
            //         labels: [{% for example in examples %} '{{ example.product }}', {% endfor %}],
            //         datasets: [{
            //             label: '# of Products',
            //             data: [{% for example in examples %} {{ example.quantity }}, {% endfor %}],
            //             backgroundColor: [
            //                 'rgb(255, 99, 132)',
            //                 'rgb(54, 162, 235)',
            //                 'rgb(255, 206, 86)',
            //                 'rgb(75, 192, 192)',
            //                 'rgb(153, 102, 255)',
            //                 'rgb(255, 159, 64)',
            //                 'rgb(124, 54, 46)'
            //             ],
            //             fill: false,
            //              borderColor: [
            //                 'rgba(255, 99, 132, 1)',
            //             //     'rgba(54, 162, 235, 1)',
            //             //     'rgba(255, 206, 86, 1)',
            //             //     'rgba(75, 192, 192, 1)',
            //             //     'rgba(153, 102, 255, 1)',
            //             //     'rgba(255, 159, 64, 1)',
            //             //     'rgba(124, 54, 46, 1)'
            //              ],
            //             tension: 0.1
            //         }]
            //     },
            //     options: {
            //         scales: {
            //             y: {
            //                 beginAtZero: true
            //             }
            //         }
            //     }
            // });

            
// var ctx4 = document.getElementById("myAreaChart").getContext("2d");

// const colors = {
//   green: {
//     fill: '#e0eadf',
//     stroke: '#5eb84d',
//   },
//   lightBlue: {
//     stroke: '#6fccdd',
//   },
//   darkBlue: {
//     fill: '#92bed2',
//     stroke: '#3282bf',
//   },
//   purple: {
//     fill: '#8fa8c8',
//     stroke: '#75539e',
//   },
// };

// const loggedIn = [26, 36, 42, 38, 40, 30, 12];
// const available = [34, 44, 33, 24, 25, 28, 25];
// const availableForExisting = [16, 13, 25, 33, 40, 33, 45];
// const unavailable = [5, 9, 10, 9, 18, 19, 20];
// const xData = [13, 14, 15, 16, 17, 18, 19];

// const myAreaChart = new Chart(ctx4, {
//   type: 'line',
//   data: {
//     labels: xData,
//     datasets: [{
//       label: "Unavailable",
//       fill: true,
//       backgroundColor: colors.purple.fill,
//       pointBackgroundColor: colors.purple.stroke,
//       borderColor: colors.purple.stroke,
//       pointHighlightStroke: colors.purple.stroke,
//       borderCapStyle: 'butt',
//       data: unavailable,

//     }, {
//       label: "Available for Existing",
//       fill: true,
//       backgroundColor: colors.darkBlue.fill,
//       pointBackgroundColor: colors.darkBlue.stroke,
//       borderColor: colors.darkBlue.stroke,
//       pointHighlightStroke: colors.darkBlue.stroke,
//       borderCapStyle: 'butt',
//       data: availableForExisting,
//     }, {
//       label: "Available",
//       fill: true,
//       backgroundColor: colors.green.fill,
//       pointBackgroundColor: colors.lightBlue.stroke,
//       borderColor: colors.lightBlue.stroke,
//       pointHighlightStroke: colors.lightBlue.stroke,
//       borderCapStyle: 'butt',
//       data: available,
//     }, {
//       label: "Logged In",
//       fill: true,
//       backgroundColor: colors.green.fill,
//       pointBackgroundColor: colors.green.stroke,
//       borderColor: colors.green.stroke,
//       pointHighlightStroke: colors.green.stroke,
//       data: loggedIn,
//     }]
//   },
//   options: {
    
//     scales: {
//       yAxes: [{
//         stacked: true,
//       }]
//     },
//     animation: {
//       duration: 750,
//     },
//   }
// });

// Bar Chart integration
var options = {
  chart: {
    type: 'bar'
  },
  series: [{
    name: 'sales',
    data: [{% for example in examples %} {{ example.quantity }}, {% endfor %}]
  }],
  xaxis: {
    categories: [{% for example in examples %} '{{ example.product }}', {% endfor %}]
  }
}

var chart = new ApexCharts(document.querySelector("#myBarChart"), options);

chart.render();


// Pie Chart integration
var options = {
          series: [{% for example in examples %} {{ example.quantity }}, {% endfor %}],
          chart: {
          type: 'pie',
        },
        labels: [{% for example in examples %} '{{ example.product }}', {% endfor %}],
    
        };

        var chart = new ApexCharts(document.querySelector("#myPieChart"), options);
        chart.render();
      


//Line Chart integration
var options = {
          series: [{
            name: "Desktops",
            data: [{% for example in examples %} {{ example.quantity }}, {% endfor %}]
        }],
          chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        title: {
          text: '',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        xaxis: {
          categories: [{% for example in examples %} '{{ example.product }}', {% endfor %}],
        }
        };

        var chart = new ApexCharts(document.querySelector("#myLineChart"), options);
        chart.render();
      

//Area Chart Integration

      
var options = {
          series: [{
          name: 'series1',
          data: [{% for example in examples %} {{ example.quantity }}, {% endfor %}]
        }, {
          name: 'series2',
          data: [{% for example in examples %} {{ example.quantity }}, {% endfor %}]
        }],
          chart: {
          height: 350,
          type: 'area',
          stacked: true
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        xaxis: {
          categories: [{% for example in examples %} '{{ example.product }}', {% endfor %}]
        },
        tooltip: {
          
        },
        };

        var chart = new ApexCharts(document.querySelector("#myAreaChart"), options);
        chart.render();
      

//Combo Chart
var options = {
          series: [{
          name: 'Quantity',
          type: 'column',
          data: [{% for example in examples %} {{ example.quantity }}, {% endfor %}]
        }, {
          name: 'Quantity',
          type: 'line',
          data: [{% for example in examples %} {{ example.quantity }}, {% endfor %}]
        }],
          chart: {
          height: 350,
          type: 'line',
        },
        stroke: {
          width: [0, 4]
        },
        title: {
          text: ''
        },
        dataLabels: {
          enabled: true,
          enabledOnSeries: [1]
        },
        labels: [{% for example in examples %} '{{ example.product }}', {% endfor %}],
        xaxis: {
            categories: [{% for example in examples %} '{{ example.product }}', {% endfor %}]
        },
        yaxis: [{
          title: {
            text: 'Product',
          },
        
        }, {
          opposite: true,
          title: {
            text: 'Product'
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#myComboChart"), options);
        chart.render();
      






            
            
</script>

{% endblock content %}
