<!-- This is the dashboard page -->
<!-- The base.html is extended from the folder templates(outside the base folder) -->
{% extends 'base.html' %} 

{% block content %}




<div class="container">
  <div class="container fluid">
    <div class="col-md-4 m-5" style="margin-right: 25%">
      <p>List</p>
      <p>List</p>
      <p>List</p>
    </div>
  </div>
</div>

<br>

<div class="container">

  <h5>Bar Char</h5>  
  <canvas id="myChart"></canvas>
  <br>
  <h5>Pie Chart</h5>
  <canvas id="myPieChart"></canvas>
  <br>
  <h5>Line Chart</h5>
  <canvas id="myLineChart"></canvas>

<br>

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <div class="d-md-flex mb-3">
                <h3 class="box-title mb-0">Recent sales</h3>
                <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                    <select class="form-select shadow-none row border-top">
                        <option>Spring 2021</option>
                        <option>Summer 2021</option>
                        <option>Autumn 2021</option>
                    </select>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">Product</th>
                            <th class="border-top-0">Quantity</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                      {% for example in examples %}
                      <tr>
                        <td>{{ example.id }}</td>
                        <td class="txt-oflo">{{ example.product }}</td>
                        <td>{{ example.quantity }}</td>
                     </tr>
                      {% endfor %}
                          
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
  const ctx = document.getElementById('myChart');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for example in examples %} '{{ example.product }}', {% endfor %}],
                    datasets: [{
                        label: '# of Products',
                        data: [{% for example in examples %} {{ example.quantity }}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.8)',
                            'rgba(54, 162, 235, 0.8)',
                            'rgba(255, 206, 86, 0.8)',
                            'rgba(75, 192, 192, 0.8)',
                            'rgba(153, 102, 255, 0.8)',
                            'rgba(255, 159, 64, 0.8)',
                            'rgba(124, 54, 46, 1)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(124, 54, 46, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            const ctx2 = document.getElementById('myPieChart');
            const myPieChart = new Chart(ctx2, {
                type: 'pie',
                data: {
                    labels: [{% for example in examples %} '{{ example.product }}', {% endfor %}],
                    datasets: [{
                        label: '# of Products',
                        data: [{% for example in examples %} {{ example.quantity }}, {% endfor %}],
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 206, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(153, 102, 255)',
                            'rgb(255, 159, 64)',
                            'rgb(124, 54, 46)'
                        ],
                        // borderColor: [
                        //     'rgba(255, 99, 132, 1)',
                        //     'rgba(54, 162, 235, 1)',
                        //     'rgba(255, 206, 86, 1)',
                        //     'rgba(75, 192, 192, 1)',
                        //     'rgba(153, 102, 255, 1)',
                        //     'rgba(255, 159, 64, 1)',
                        //     'rgba(124, 54, 46, 1)'
                        // ],
                        hoverOffset: 4
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            const ctx3 = document.getElementById('myLineChart');
            const myLineChart = new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: [{% for example in examples %} '{{ example.product }}', {% endfor %}],
                    datasets: [{
                        label: '# of Products',
                        data: [{% for example in examples %} {{ example.quantity }}, {% endfor %}],
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 206, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(153, 102, 255)',
                            'rgb(255, 159, 64)',
                            'rgb(124, 54, 46)'
                        ],
                        fill: false,
                         borderColor: [
                            'rgba(255, 99, 132, 1)',
                        //     'rgba(54, 162, 235, 1)',
                        //     'rgba(255, 206, 86, 1)',
                        //     'rgba(75, 192, 192, 1)',
                        //     'rgba(153, 102, 255, 1)',
                        //     'rgba(255, 159, 64, 1)',
                        //     'rgba(124, 54, 46, 1)'
                         ],
                        tension: 0.1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            
</script>

{% endblock content %}
