<!-- This is the dashboard page -->
<!-- The base.html is extended from the folder templates(outside the base folder) -->
{% extends 'base.html' %}

{% block content %}

<h1 class="text-center"></h1>


<!-- <span>Hello, {{request.user}}</span>
<span><a href="{% url 'logout' %}">Logout</a></span> -->

<br>

<div class="container">

 <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box shadow">
            <div class="d-md-flex mb-3">
                <h3 class="box-title mb-0">Classroom Requirement</h3>
                <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                    <form method="POST" action="">
                      {% csrf_token %}
                      <select name="dropdown" class="form-select shadow-none row border-top">
                        <option>Spring2020</option>
                        <option>Autumn2020</option>
                        <option>Spring2021</option>
                        <option>Summer2021</option>
                        <option>Autumn2021</option>
                    </select>
                    <input class="btn btn-dark mt-1" type="submit" value="Submit here">
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">Class Size</th>
                            <th class="border-top-0">Sections</th>
                            <th class="border-top-0">Class room 6</th>
                            <th class="border-top-0">Class room 7</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for i in data %}
                      <tr>
                        <td>{{i.range}}</td>
                        <td>{{ i.sections}}</td>
                        <td>{{ i.classize_6 }}</td>
                        <td>{{i.classize_7 }}</td>
                     </tr>
                      {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br>
  <div class="row d-inline-flex">
    <div class="card shadow" style="height: 400px;width: 400px;margin-left: 45px;">
      <div class="card-body font-weight-bold">
        Classroom Requirements(Class Room 6)
      </div>
      <div id="myPieChart"></div>
    </div>

    <div class="card shadow" style="height: 400px;width: 400px;margin-left: 45px;">
      <div class="card-body font-weight-bold">
        Classroom Requirements(Class Room 7)
      </div>
      <div id="myPieChart2"></div>
    </div>
  </div>


<br>



<script>
// Pie Chart for classsize 6
var options = {
          series: [{% for i in data %} {{ i.classize_6 }}, {% endfor %}],
          chart: {
          type: 'pie',
        },
        labels: [{% for i in data %} '{{ i.range }}', {% endfor %}],
        };

        var chart = new ApexCharts(document.querySelector("#myPieChart"), options);
        chart.render();

//pie chart for classsize 7
var options = {
          series: [{% for i in data %} {{ i.classize_7 }}, {% endfor %}],
          chart: {
          type: 'pie',
        },
        labels: [{% for i in data %} '{{ i.range }}', {% endfor %}],
        };

        var chart = new ApexCharts(document.querySelector("#myPieChart2"), options);
        chart.render();

$(document).ready(function() {
    //store the value
    if (localStorage.selectVal) {
    // Select the value stored
        $('select').val( localStorage.selectVal );
    }
});

  //on refresh keep it persistent
$('select').on('change', function(){
    var currentVal = $(this).val();
    localStorage.setItem('selectVal', currentVal );
});

</script>

{% endblock content %}
