{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">something</a>
          <a class="dropdown-item" href="#">something else</a>
      </li>
    </ul>
  </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
      aria-expanded="false">
      <img src="{% static 'profile_icon.png' %}" alt="logo">
    </button>
    <div class="dropdown-menu dropdown-menu-sm-right dropdown-menu-lg-right" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Logout</button>
    </div>
</nav>
<section.>
  <div class="conatiner p-2 bg-light">
    <button type="button" class="btn btn-secondary btn-sm">Button</button>
  </div>
</section.>

<section class="p-5">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <div class="card p-5" style="width: 18rem;">
          <div class="card-body">
            <!--<h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card p-5" style="width: 18rem;">
          <div class="card-body">
            <!--<h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card p-5" style="width: 18rem;">
          <div class="card-body">
            <!--<h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>